body {
  margin: 0;
  background-color: #f5f5f5;
}

.app-container {
  display: flex;
}

.main-content {
  flex-grow: 1;
  padding: 24px;
  margin-top: 64px;
  min-height: calc(100vh - 64px);
}

@media (min-width: 900px) {
  .main-content {
    margin-left: 240px;
  }
}

@media print {
  .no-print {
    display: none !important;
  }
  .main-content {
    margin-left: 0;
    margin-top: 0;
    padding: 0;
  }
}
